In [2]:
import import_ipynb
from Cleaned_data_FINAL import new_df
import string
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import pandas as pd

In [3]:
new_df

,id,name,brewery_id,state,country,style,availability,notes,retired,beer_id,username,date,text,look,smell,taste,feel,overall,score,le_style
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,Every time this year,f,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58,16
16,303023,The Sky Is High (wet Hopped Pale Ale),46616,NJ,US,American Pale Ale (APA),Limited (brewed once),This hazy pale ale is brewed with fresh Cascad...,t,125646,hankf44,2017-12-07,,4.75,4.75,4.75,5.00,4.75,4.78,20
27,165236,Fortuna,30,CO,US,American Wild Ale,Limited (brewed once),Sour ale that is aged in Tequila barrels with ...,t,205644,SMH_NWI,2017-04-14,,4.00,4.00,3.50,3.50,3.75,3.70,26
37,200033,Forest Nymph,42273,MN,US,Rye Beer,Limited (brewed once),Deep amber with tan foam. Fragrance of spicy r...,t,150672,byronic,2016-04-14,Poured a bit lively and had to wait for it ...,3.75,3.75,3.75,3.75,3.75,3.75,101
43,55,Redhook Double Black Stout,18134,NH,US,American Imperial Stout,Rotating,Brewed with coffee.,f,150672,wanderingspirit,2015-12-20,Quite balanced and distinct IPA of a West C...,4.25,4.50,4.25,4.50,4.25,4.34,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358792,304308,Breakfast Beer,36594,CA,US,German Hefeweizen,Limited (brewed once),German-style Mini Weisse with oranges.,t,81777,spoony,2012-09-05,500 ml bottle into a pint glass. A-The brew...,3.00,2.50,3.00,3.00,2.50,2.78,77
358799,166954,Hop Nookie,14064,CA,US,American Imperial IPA,Rotating,"Brewed with Chinook, Amarillo, Centennial, Mos...",f,81883,Ed2,2015-12-03,,3.50,4.00,3.50,3.50,3.75,3.67,12
358818,154296,A Page From Camus,28019,CA,US,Belgian Pale Ale,Limited (brewed once),"Tart, blended Belgian blonde.",t,94229,weltywm,2014-02-08,On tap at Harrah's Casino in Philadelphia. ...,4.00,3.75,4.00,3.75,3.75,3.87,35
358836,227757,Soleil,44599,NY,US,American Wild Ale,Spring,"Sour Farmhouse Ale conditioned on pineapple, m...",f,94229,superspak,2013-11-21,"12 ounce bottle into tulip glass, best befo...",4.00,4.00,4.50,4.00,4.00,4.20,26
358846,149436,Don't Fear The Creeper,37969,CA,US,American Porter,Limited (brewed once),Our First Collaboration Beer with Lonely Creep...,t,94229,RonaldTheriot,2013-10-24,Leinenkugel’s Big Eddy Ryewine Ale has a th...,4.00,4.25,4.25,4.00,4.25,4.21,22

In [4]:
new_df.set_index('beer_id', inplace=True)

In [5]:
int_df = new_df[['beer_id', 'look', 'smell', 'taste', 'feel', 'overall']]
int_df.set_index('beer_id', inplace=True)
int_df

KeyError: "['beer_id'] not in index"

In [6]:
nlp_df = new_df[['notes', 'style', 'text']]
nlp_df

,notes,style,text
beer_id,,,
125646,Every time this year,American Imperial Stout,0% 16 oz can. Funny story: As I finally wal...
125646,This hazy pale ale is brewed with fresh Cascad...,American Pale Ale (APA),
205644,Sour ale that is aged in Tequila barrels with ...,American Wild Ale,
150672,Deep amber with tan foam. Fragrance of spicy r...,Rye Beer,Poured a bit lively and had to wait for it ...
150672,Brewed with coffee.,American Imperial Stout,Quite balanced and distinct IPA of a West C...
...,...,...,...
81777,German-style Mini Weisse with oranges.,German Hefeweizen,500 ml bottle into a pint glass. A-The brew...
81883,"Brewed with Chinook, Amarillo, Centennial, Mos...",American Imperial IPA,
94229,"Tart, blended Belgian blonde.",Belgian Pale Ale,On tap at Harrah's Casino in Philadelphia. ...
94229,"Sour Farmhouse Ale conditioned on pineapple, m...",American Wild Ale,"12 ounce bottle into tulip glass, best befo..."
94229,Our First Collaboration Beer with Lonely Creep...,American Porter,Leinenkugel’s Big Eddy Ryewine Ale has a th...

In [7]:
nlp_df = nlp_df.applymap(lambda x: x.lower())
nlp_df #checking to see if all lowercase

,notes,style,text
beer_id,,,
125646,every time this year,american imperial stout,0% 16 oz can. funny story: as i finally wal...
125646,this hazy pale ale is brewed with fresh cascad...,american pale ale (apa),
205644,sour ale that is aged in tequila barrels with ...,american wild ale,
150672,deep amber with tan foam. fragrance of spicy r...,rye beer,poured a bit lively and had to wait for it ...
150672,brewed with coffee.,american imperial stout,quite balanced and distinct ipa of a west c...
...,...,...,...
81777,german-style mini weisse with oranges.,german hefeweizen,500 ml bottle into a pint glass. a-the brew...
81883,"brewed with chinook, amarillo, centennial, mos...",american imperial ipa,
94229,"tart, blended belgian blonde.",belgian pale ale,on tap at harrah's casino in philadelphia. ...
94229,"sour farmhouse ale conditioned on pineapple, m...",american wild ale,"12 ounce bottle into tulip glass, best befo..."
94229,our first collaboration beer with lonely creep...,american porter,leinenkugel’s big eddy ryewine ale has a th...

Great, looks like that has worked. Now let's try to remove punctuation in these columns as well before we try stemming and lemmatizing our data.

In [8]:
nlp_df = nlp_df.applymap(lambda x: x.translate(x.maketrans('', '', string.punctuation)))

In [9]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
nlp_df

,notes,style,text
beer_id,,,
125646,every time this year,american imperial stout,0 16 oz can funny story as i finally walked...
125646,this hazy pale ale is brewed with fresh cascad...,american pale ale apa,
205644,sour ale that is aged in tequila barrels with ...,american wild ale,
150672,deep amber with tan foam fragrance of spicy ry...,rye beer,poured a bit lively and had to wait for it ...
150672,brewed with coffee,american imperial stout,quite balanced and distinct ipa of a west c...
...,...,...,...
81777,germanstyle mini weisse with oranges,german hefeweizen,500 ml bottle into a pint glass athe brew h...
81883,brewed with chinook amarillo centennial mosaic...,american imperial ipa,
94229,tart blended belgian blonde,belgian pale ale,on tap at harrahs casino in philadelphia wh...
94229,sour farmhouse ale conditioned on pineapple ma...,american wild ale,12 ounce bottle into tulip glass best befor...
94229,our first collaboration beer with lonely creep...,american porter,leinenkugel’s big eddy ryewine ale has a th...

Great, looks like there is no punctuation in the document now, let's look at continuing to clean up this data. We shoudl remove stopwards and numbers at this point a so that we have an almost clean data set.

In [11]:
sw = stopwords.words('english')
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [12]:
nlp_df['notes'] = nlp_df['notes'].apply(lambda x: ' '.join([word for word in x.split() if word not in (sw)]))
nlp_df['style'] = nlp_df['style'].apply(lambda x: ' '.join([word for word in x.split() if word not in (sw)]))
nlp_df['text'] = nlp_df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (sw)]))

In [13]:
nlp_df

,notes,style,text
beer_id,,,
125646,every time year,american imperial stout,0 16 oz funny story finally walked doors 45 mi...
125646,hazy pale ale brewed fresh cascade centennial ...,american pale ale apa,
205644,sour ale aged tequila barrels lime zest salt,american wild ale,
150672,deep amber tan foam fragrance spicy rye carame...,rye beer,poured bit lively wait settle nice lacing slig...
150672,brewed coffee,american imperial stout,quite balanced distinct ipa west coast style i...
...,...,...,...
81777,germanstyle mini weisse oranges,german hefeweizen,500 ml bottle pint glass athe brew amber color...
81883,brewed chinook amarillo centennial mosaic eureka,american imperial ipa,
94229,tart blended belgian blonde,belgian pale ale,tap harrahs casino philadelphia drinking casin...
94229,sour farmhouse ale conditioned pineapple marig...,american wild ale,12 ounce bottle tulip glass best 452014 pours ...
94229,first collaboration beer lonely creeper record...,american porter,leinenkugel’s big eddy ryewine ale thintomediu...

In [14]:
nlp_df = nlp_df.applymap(lambda x: x.translate(x.maketrans('', '', '0123456789')))
nlp_df

,notes,style,text
beer_id,,,
125646,every time year,american imperial stout,oz funny story finally walked doors min wai...
125646,hazy pale ale brewed fresh cascade centennial ...,american pale ale apa,
205644,sour ale aged tequila barrels lime zest salt,american wild ale,
150672,deep amber tan foam fragrance spicy rye carame...,rye beer,poured bit lively wait settle nice lacing slig...
150672,brewed coffee,american imperial stout,quite balanced distinct ipa west coast style i...
...,...,...,...
81777,germanstyle mini weisse oranges,german hefeweizen,ml bottle pint glass athe brew amber color ho...
81883,brewed chinook amarillo centennial mosaic eureka,american imperial ipa,
94229,tart blended belgian blonde,belgian pale ale,tap harrahs casino philadelphia drinking casin...
94229,sour farmhouse ale conditioned pineapple marig...,american wild ale,ounce bottle tulip glass best pours crystal ...
94229,first collaboration beer lonely creeper record...,american porter,leinenkugel’s big eddy ryewine ale thintomediu...

In [15]:
nlp_df['combined'] = nlp_df['notes'] + ' ' + nlp_df['text']

In [16]:
nlp_df

,notes,style,text,combined
beer_id,,,,
125646,every time year,american imperial stout,oz funny story finally walked doors min wai...,every time year oz funny story finally walke...
125646,hazy pale ale brewed fresh cascade centennial ...,american pale ale apa,,hazy pale ale brewed fresh cascade centennial ...
205644,sour ale aged tequila barrels lime zest salt,american wild ale,,sour ale aged tequila barrels lime zest salt
150672,deep amber tan foam fragrance spicy rye carame...,rye beer,poured bit lively wait settle nice lacing slig...,deep amber tan foam fragrance spicy rye carame...
150672,brewed coffee,american imperial stout,quite balanced distinct ipa west coast style i...,brewed coffee quite balanced distinct ipa west...
...,...,...,...,...
81777,germanstyle mini weisse oranges,german hefeweizen,ml bottle pint glass athe brew amber color ho...,germanstyle mini weisse oranges ml bottle pin...
81883,brewed chinook amarillo centennial mosaic eureka,american imperial ipa,,brewed chinook amarillo centennial mosaic eureka
94229,tart blended belgian blonde,belgian pale ale,tap harrahs casino philadelphia drinking casin...,tart blended belgian blonde tap harrahs casino...
94229,sour farmhouse ale conditioned pineapple marig...,american wild ale,ounce bottle tulip glass best pours crystal ...,sour farmhouse ale conditioned pineapple marig...
94229,first collaboration beer lonely creeper record...,american porter,leinenkugel’s big eddy ryewine ale thintomediu...,first collaboration beer lonely creeper record...

Looks like we now have a clean dataset and can start to throw this into a TFIDF model so that we can see how well certain beers go together based on taste.

In [17]:
vectorizer = TfidfVectorizer()

In [18]:
nlp_df['style'].value_counts()

american ipa                     3094
american wild ale                1752
belgian saison                   1695
american imperial ipa            1673
american pale ale apa            1222
                                 ...
bière de champagne bière brut       6
japanese rice lager                 6
finnish sahti                       5
low alcohol beer                    3
european strong lager               2
Name: style, Length: 109, dtype: int64

In [19]:
ohe = OneHotEncoder(drop='first')
style = nlp_df[['style']]
new_style = ohe.fit_transform(nlp_df[['style']]).toarray()
new_style = pd.DataFrame(new_style, index=nlp_df.index)
nlp_df = nlp_df.join(new_style)

In [20]:
nlp_df.tail(15)

,notes,style,text,combined,0,1,2,3,4,5,...,98,99,100,101,102,103,104,105,106,107
beer_id,,,,,,,,,,,,,,,,,,,,,
368321,even second make difference life death raleig...,american pale ale apa,,even second make difference life death raleig...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
368321,even second make difference life death raleig...,american pale ale apa,,even second make difference life death raleig...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
368662,soft bulletin features signature french saison...,belgian saison,draft breweries varied lot depending temperatu...,soft bulletin features signature french saison...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
369056,formerly known idiot sauvin,american ipa,,formerly known idiot sauvin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
369851,brewed ale yeast style bohemian pilsner,american blonde ale,,brewed ale yeast style bohemian pilsner,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
369880,ambrosial blonde ale worthy greek myth beer br...,american blonde ale,,ambrosial blonde ale worthy greek myth beer br...,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
369880,ambrosial blonde ale worthy greek myth beer br...,american blonde ale,,ambrosial blonde ale worthy greek myth beer br...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
369880,inspired abbey ales belgium created dark malty...,belgian dubbel,,inspired abbey ales belgium created dark malty...,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
369880,inspired abbey ales belgium created dark malty...,belgian dubbel,,inspired abbey ales belgium created dark malty...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
370971,½ tipsy toehead blonde ale ½ knot tree porter ...,american porter,,½ tipsy toehead blonde ale ½ knot tree porter ...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
371100,start traditional german hefeweizen recipe usi...,german hefeweizen,,start traditional german hefeweizen recipe usi...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
371925,kettle soured wheat beer aged red wine barrels,berliner weisse,,kettle soured wheat beer aged red wine barrels,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
371925,kettle soured wheat beer aged red wine barrels,berliner weisse,,kettle soured wheat beer aged red wine barrels,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
371925,base beer wooden hell,british barleywine,,base beer wooden hell,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
371925,base beer wooden hell,british barleywine,,base beer wooden hell,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
ipa = nlp_df[nlp_df['style'] == 'american ipa']
belg = nlp_df[nlp_df['style'] == 'belgian saison']

In [22]:
ipa

,notes,style,text,combined,0,1,2,3,4,5,...,98,99,100,101,102,103,104,105,106,107
beer_id,,,,,,,,,,,,,,,,,,,,,
47604,oops mangoed pants takes twist one favorite re...,american ipa,like alpine ale hoppy,oops mangoed pants takes twist one favorite re...,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47604,oops mangoed pants takes twist one favorite re...,american ipa,like alpine ale hoppy,oops mangoed pants takes twist one favorite re...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47604,oops mangoed pants takes twist one favorite re...,american ipa,like alpine ale hoppy,oops mangoed pants takes twist one favorite re...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47604,oops mangoed pants takes twist one favorite re...,american ipa,like alpine ale hoppy,oops mangoed pants takes twist one favorite re...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47604,oops mangoed pants takes twist one favorite re...,american ipa,like alpine ale hoppy,oops mangoed pants takes twist one favorite re...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360663,fifth hammer brewing company’s first ipa indi...,american ipa,,fifth hammer brewing company’s first ipa indi...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
360879,citra hopped ipa,american ipa,,citra hopped ipa,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
362290,single hop series ipa brewed centennial,american ipa,beer black color poured quarter finger high ta...,single hop series ipa brewed centennial beer b...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
362813,singlehopped ipa juicy orange apricot aromas p...,american ipa,impression nabbed part pack beer store lone t...,singlehopped ipa juicy orange apricot aromas p...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
369056,formerly known idiot sauvin,american ipa,,formerly known idiot sauvin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
belg

,notes,style,text,combined,0,1,2,3,4,5,...,98,99,100,101,102,103,104,105,106,107
beer_id,,,,,,,,,,,,,,,,,,,,,
47604,brettanomyces wild yeast strain give beer inte...,belgian saison,type oz bottle glass modern times pint glass h...,brettanomyces wild yeast strain give beer inte...,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47604,brettanomyces wild yeast strain give beer inte...,belgian saison,type oz bottle glass modern times pint glass h...,brettanomyces wild yeast strain give beer inte...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47604,brettanomyces wild yeast strain give beer inte...,belgian saison,type oz bottle glass modern times pint glass h...,brettanomyces wild yeast strain give beer inte...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47604,brettanomyces wild yeast strain give beer inte...,belgian saison,type oz bottle glass modern times pint glass h...,brettanomyces wild yeast strain give beer inte...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47604,brettanomyces wild yeast strain give beer inte...,belgian saison,type oz bottle glass modern times pint glass h...,brettanomyces wild yeast strain give beer inte...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358072,listed httpwwwbeeradvocatecombeerprofile,belgian saison,,listed httpwwwbeeradvocatecombeerprofile,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
358072,listed httpwwwbeeradvocatecombeerprofile,belgian saison,,listed httpwwwbeeradvocatecombeerprofile,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
359686,brewed pa wildflower honey whole lot rye malt ...,belgian saison,,brewed pa wildflower honey whole lot rye malt ...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
359686,brewed pa wildflower honey whole lot rye malt ...,belgian saison,,brewed pa wildflower honey whole lot rye malt ...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
368662,soft bulletin features signature french saison...,belgian saison,draft breweries varied lot depending temperatu...,soft bulletin features signature french saison...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0